# Ignore ENV file.
.env

# Python bytecode / caches.
__pycache__/
*$py.class

# "*.py[cod]"" covers "*.pyc" too.
*.py[cod]

.pytest_cache/
.mypy_cache/

# Ignore Python linting cache.
.ruff_cache/

# Ignore compiled output (containing all emitted code and types).
dist/

# DO NOT ignore js files in examples.
!examples/basic-output.js
!examples/nested-output.js

# Ignore logs...
logs
*.log

*.local
