# Ignore ENV file.
.env

# Python packaging/build metadata
*.egg-info/
.eggs/
build/
dist/

# Python bytecode / caches.
__pycache__/
*$py.class

# "*.py[cod]"" covers "*.pyc" too.
*.py[cod]

.pytest_cache/
.mypy_cache/

# Ignore Python linting cache.
.ruff_cache/

# Ignore logs...
logs
*.log

*.local
